
<label for="lookup"> AI nr steps lookup: </label>
<input value="2" id="lookup" (input)="onLookupChanged($event.target.value)" type="number" min="1" max="8">
<br><br>

<label for="sides">Choose side: </label>
<select (change)="onSideChanged()" id="sides">
  <option value="rabbit">Rabbit</option>
  <option value="wolfes">Wolfes</option>
</select>

<p>Best Score: {{best_score_str}}</p>

<br><br><br>

<div *ngFor="let row of cells; let row_index = index">
    <span *ngFor="let cell of row; let column_index = index">
        <button class="cell_white" *ngIf="cell === 'White'">-</button>
        <button class="cell_black" *ngIf="cell === 'Black'">N</button>
        <button class="cell_black_white" (click)="checkerClick(row_index, column_index)" *ngIf="cell === 'Black_White'">W</button>
        <button class="cell_black_black" (click)="checkerClick(row_index, column_index)" *ngIf="cell === 'Black_Black'">B</button>
        <button class="cell_option" (click)="play(row_index, column_index)" *ngIf="cell === 'Option'">Go</button>
        <button class="cell_black_selected_white" *ngIf="cell === 'Black_Selected_White'">W</button>
        <button class="cell_black_selected_black" *ngIf="cell === 'Black_Selected_Black'">B</button>
    </span>
</div>